{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seannse.blob.core.windows.net/test-container-9239973e-03fd-b898-c280-7d69a131f253?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 21 Mar 2020 16:46:47 GMT"
=======
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-9239973e-03fd-b898-c280-7d69a131f253?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:13:13 GMT"
>>>>>>> feature/storage/stg73base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Sat, 21 Mar 2020 16:46:45 GMT",
        "ETag": "\u00220x8D7CDB771CFE880\u0022",
        "Last-Modified": "Sat, 21 Mar 2020 16:46:46 GMT",
=======
        "Date": "Thu, 05 Mar 2020 21:13:13 GMT",
        "ETag": "\u00220x8D7C14A044F56CA\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:13:14 GMT",
>>>>>>> feature/storage/stg73base
        "Server": [
          "Windows-Azure-Blob/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "8ac306ac-ffdf-9481-f849-20f802fb36bf",
<<<<<<< HEAD
        "x-ms-request-id": "8b0c055c-401e-0024-7ca0-ff89ff000000",
        "x-ms-version": "2019-07-07"
=======
        "x-ms-request-id": "fa02a409-101e-001a-6032-f3f3e4000000",
        "x-ms-version": "2019-10-10"
>>>>>>> feature/storage/stg73base
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seannse.blob.core.windows.net/test-container-9239973e-03fd-b898-c280-7d69a131f253?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 21 Mar 2020 16:46:47 GMT"
=======
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-9239973e-03fd-b898-c280-7d69a131f253?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:13:14 GMT"
>>>>>>> feature/storage/stg73base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Sat, 21 Mar 2020 16:46:46 GMT",
=======
        "Date": "Thu, 05 Mar 2020 21:13:13 GMT",
>>>>>>> feature/storage/stg73base
        "Server": [
          "Windows-Azure-Blob/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "9bbc563b-676d-b374-8083-87883c3eea38",
<<<<<<< HEAD
        "x-ms-request-id": "8b0c0579-401e-0024-0ca0-ff89ff000000",
        "x-ms-version": "2019-07-07"
=======
        "x-ms-request-id": "fa02a40d-101e-001a-6132-f3f3e4000000",
        "x-ms-version": "2019-10-10"
>>>>>>> feature/storage/stg73base
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-container-9239973e-03fd-b898-c280-7d69a131f253?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 21 Mar 2020 16:46:47 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified blob does not exist.\n",
        "RequestId:8b0c057d-401e-0024-10a0-ff89ff000000\n",
        "Time:2020-03-21T16:46:47.0406094Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {
    "RandomSeed": "481835137",
<<<<<<< HEAD
    "Storage_TestConfigDefault": "ProductionTenant\nseannse\nU2FuaXRpemVk\nhttp://seannse.blob.core.windows.net\nhttp://seannse.file.core.windows.net\nhttp://seannse.queue.core.windows.net\nhttp://seannse.table.core.windows.net\n\n\n\n\nhttp://seannse-secondary.blob.core.windows.net\nhttp://seannse-secondary.file.core.windows.net\nhttp://seannse-secondary.queue.core.windows.net\nhttp://seannse-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seannse.blob.core.windows.net/;QueueEndpoint=http://seann[...]
