{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seannse.blob.core.windows.net/test-container-f31dab3b-c673-4271-eff6-66ea07c8f2af?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 21 Mar 2020 16:46:55 GMT"
=======
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-f31dab3b-c673-4271-eff6-66ea07c8f2af?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:14:30 GMT"
>>>>>>> feature/storage/stg73base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Sat, 21 Mar 2020 16:46:54 GMT",
        "ETag": "\u00220x8D7CDB776B0A6F6\u0022",
        "Last-Modified": "Sat, 21 Mar 2020 16:46:55 GMT",
=======
        "Date": "Thu, 05 Mar 2020 21:14:29 GMT",
        "ETag": "\u00220x8D7C14A31B449A0\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:14:30 GMT",
>>>>>>> feature/storage/stg73base
        "Server": [
          "Windows-Azure-Blob/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "ed4fe2aa-d751-9cd1-42f9-6cfb0b82fb86",
<<<<<<< HEAD
        "x-ms-request-id": "8b0c0b74-401e-0024-56a0-ff89ff000000",
        "x-ms-version": "2019-07-07"
=======
        "x-ms-request-id": "c74dbc1c-a01e-000f-0a33-f3e457000000",
        "x-ms-version": "2019-10-10"
>>>>>>> feature/storage/stg73base
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seannse.blob.core.windows.net/test-container-f31dab3b-c673-4271-eff6-66ea07c8f2af?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 21 Mar 2020 16:46:55 GMT"
=======
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-f31dab3b-c673-4271-eff6-66ea07c8f2af?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:14:30 GMT"
>>>>>>> feature/storage/stg73base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Sat, 21 Mar 2020 16:46:54 GMT",
=======
        "Date": "Thu, 05 Mar 2020 21:14:29 GMT",
>>>>>>> feature/storage/stg73base
        "Server": [
          "Windows-Azure-Blob/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "253f0003-0579-325e-6fbb-0c2082127b2f",
<<<<<<< HEAD
        "x-ms-request-id": "8b0c0b96-401e-0024-75a0-ff89ff000000",
        "x-ms-version": "2019-07-07"
=======
        "x-ms-request-id": "c74dbc21-a01e-000f-0d33-f3e457000000",
        "x-ms-version": "2019-10-10"
>>>>>>> feature/storage/stg73base
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-container-f31dab3b-c673-4271-eff6-66ea07c8f2af?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 21 Mar 2020 16:46:55 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified blob does not exist.\n",
        "RequestId:8b0c0ba8-401e-0024-06a0-ff89ff000000\n",
        "Time:2020-03-21T16:46:55.1143003Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {
    "RandomSeed": "1084796617",
<<<<<<< HEAD
    "Storage_TestConfigDefault": "ProductionTenant\nseannse\nU2FuaXRpemVk\nhttp://seannse.blob.core.windows.net\nhttp://seannse.file.core.windows.net\nhttp://seannse.queue.core.windows.net\nhttp://seannse.table.core.windows.net\n\n\n\n\nhttp://seannse-secondary.blob.core.windows.net\nhttp://seannse-secondary.file.core.windows.net\nhttp://seannse-secondary.queue.core.windows.net\nhttp://seannse-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seannse.blob.core.windows.net/;QueueEndpoint=http://seann[...]
